{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="mb-3">Transaction History</h1>
    <table class="table table-hover">
        <thead>
            <tr class="table-active table-light text-dark">
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>

            {% for row in rows %}

            <tr class="table-dark text-warning">
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["timestamp"] }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
